body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.header {
    background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

h1 {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 25px;
}

h3 {
    font-size: 23px;
}

.bgpic h3 {
    background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

p {
    font-size: 14px;
}

ul li {
    color: #FFFFFF;
    font-size: 18px;
    padding: 5px;
    list-style-type: none;
}

a {
    color: #FFFFFF;
}

div h2 {
    margin: 30px;
}

.footer {
    color: #FFFFFF;
    background-color: dimgray;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}

.footer a {
    padding: 5px;
}
